.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    width: 100%;
    height: 100%;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #4481c3;
    animation: spin 1s linear infinite;
}

.spinnerText {
    margin-top: 16px;
    color: #4481c3;
    font-size: 18px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}